.container{
    width: 80%;
    height: 600px;
    margin: 10px auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 200px;
    gap: 20px;
}

.container > div{
    
    text-align: center;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    /* Estilos para cuadrar Imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

#Titulo{
    grid-column: 1/4;
    border: none;
    color: black;
}

.container > div> p{
    align-self: flex-end;
    color: white;
}


